*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cent{
  display:block;
  justify-content: center;
  align-items:center;
  padding: 0 25%;
  /* height: 90vh; */
  font-family: Georgia, 'Times New Roman', Times, serif;
}